<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section class="container content-section text-center">
    <div class= "section">
      <div class= "row">
        <p>Menu list</p>
      </div>
       <div class= "row">
        <div class="col-lg-4">
          <form action="{% url 'app:manageStudent' %}" method="post">{% csrf_token %}
            <input style="height:200px;width:200px" type="submit" class="btn btn-warning" value="Manage Student">
          </form>
        </div>
        <div class="col-lg-4">
          <form action="{% url 'app:manageGroup' %}" method="post">
            {% csrf_token %}
            <input style="height:200px;width:200px" type="submit" class="btn btn-warning" value="Manage Group">
          </form>
        </div>
       </div>
    </div>
  </section>
</body>
</html>
