<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- <div class="grad"></div> -->
  <div><!-- class="header"> -->
    <div>Data<span>Training</span></div>
  </div>
  <br>
  <div> <!--  class="login"> -->
    {{ msg }}
    <form action="{% url 'app:doLogin' %}" method="post">
      {% csrf_token %}
      <input type="text" placeholder="username" name="Lusername"><br>
      <input type="password" placeholder="password" name="Lpassword"><br>
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>
